@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dhaka<br />
    Bangladesh<br />
    <abbr title="Phone">P:</abbr>
    02388322832
</address>

<address>
    <strong>Support:</strong>   <a href="subrotocse8@gmail.com">subrotocse8@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="subrotocse8@gmail.com">subrotocse8@gmail.com</a>
</address>